<% layout("layouts/boilerplate.ejs") %>


    <!-- <form method="GET" action="/listings/new">
        <button>Create new</button>
    </form>
     -->   
  
    <h1>Available Products</h1>
      <div class="pro-container">
    <% for(let listing of allListings){%>
       <a href="/listings/<%=listing._id%>" class="listing-link">
        <div class="pro">
          <img src="<%=listing.image.url%>" alt="">
          <div class="des">
              <span><b><%= listing.title%></b></span>
              <h4>&#x20b9; <%=listing.price.toLocaleString("en-IN") %></h4>
          </div>
          <% if(listing.type==="rent") {%>
             <a href="/listings/<%=listing._id%>/book/rent"><p><%=listing.type %>/day</p></a>
          <% }  else {%>
            <a href="/listings/<%=listing._id%>/book/buy"><p><%=listing.type %></p></a>
           <% } %>  
          <p><%=listing.college %></p>
          <br>
      </div>
       </a>
        <%}%>
      </div>
      
       
   

