<% layout("layouts/boilerplate.ejs") %>
  <h1><%= type%> Products</h1>

       
    <div class="pro-container">
  <% for(let listing of allListings){%>
      <a href="/listings/<%=listing._id%>" class="listing-link">
      <div class="pro bg-light">
        <img src="<%=listing.image.url%>" alt="">
        <div class="des">
            <span><b><%= listing.title%></b></span>
            <h4>&#x20b9; <%=listing.price.toLocaleString("en-IN") %> <% if(listing.type=="rent") {%>/day<%}%> </h4>
        </div>
        <p><%=listing.college %></p>
        <div class="book">
          <% if(listing.type==="rent") {%>
            <a class="btn btn-dark" href="/listings/<%=listing._id%>/book/rent"><%=listing.type %></a>
        <% }  else {%>
          <a class="btn btn-dark" href="/listings/<%=listing._id%>/book/buy"><%=listing.type %></a>
          <% } %>  
        </div>
       
    </div>
      </a>
      <%}%>
    </div>
      
      
    
    <% if(!["All","Rent","Buy","Search"].includes(type)) {%>
    <div class="blur-overlay">
      <div class="blur-body">
      <div class="blur-flash">
      <%- include("../includes/flash.ejs") %>
     </div>
      <div class="content">
           <% if(type=='login') {%>
               <%- include("../users/login.ejs") %>
           <% } else if(type=='signup'){ %>
               <%- include("../users/signup") %>
            <% } else if(type=='forget'){ %>
              <%- include("../users/forget") %>
              <% } else if(type=='reset') {%>
                <%- include("../users/reset") %>
                <% } else if(type=='buy'){%>
                  <%- include("../book/buy.ejs") %>
                <% } else if(type=='rent'){ %>
                  <%- include("../book/rent.ejs") %>
                  <% } %>
      </div>
    </div>
    </div>
   <% } %>
